.istockphoto179490710170667a {
  width: 164px;
  height: 160px;
  background-image: url(/public/istockphoto179490710170667a-5@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
